.appLogo {
  height: 35px;
}

.customHeader {
  background-color: white;
  padding: 5px;
  display: "flex";
  align-items: "center";
  justify-content: "space-between";
  z-index: 10;
  width: 100%;
}

.appTitle {
  font-size: 1em;
  font-family: sans-serif;
  color: #053961;
  font-weight: bolder;
}

.appIntro {
  font-size: large;
  max-width: 800px;
  margin: auto;
  position:"relative";
  top: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  opacity: 0.8;
}

body {
  background: url("./utils/agricultureBackdrop.jpg") center/cover;
  position: fixed;
  width: 100%;
  z-index: 1;
}


html, body {
  height: 100%;
  overflow:auto;
}

.appIntro button.btn.btn-primary:hover{
  color: #faa200;
}

.appIntro button.btn.btn-primary{
  background-color: #004479;
  border: 0;
  margin-left: 5px;
}

.customNavbar {
  background-color: #004479;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customNavbar ul, .customFooter ul {
  list-style-type: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  vertical-align: middle;
  margin: 0;
}

.appTitle span {
  color: #faa200;
}

.customNavbar div {
  color: white;
  padding-left: 25px;
}

.customFooter ul {
  font-size: 12px;
}

.customNavbar div, .customNavbar ul li, .customFooter ul li {
  font-family: sans-serif;
  padding: 10px;
}

.customNavbar div:hover,.customNavbar ul li:hover, .customFooter ul li:hover {
  color: #faa200;
  cursor: pointer;
}

.customFooter {
  position: fixed;
  bottom: 0;
  background-color: #004479;
  width: 100%;
  display: flex;
}

.cardDetailsLabel {
  color: #004479;
  font-style: italic;
}

.cardDetailsConfirm {
  word-break: break-all;
}

.cardDetailsConfirm {
  color: #004479;
  font-size: 16px;
  font-style: italic;
}

.cardDetailsConfirm .label{
  color: #faa200;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  margin-right: 10px;
  display: inline-block;
}

.cardDetailsTitle {
  color: #faa200;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}